@charset "UTF-8";
/* ---------------------- Liens vers les pages à relier --------------------- */
/* -------------------------------------------------------------------------- */
/*                        Réglages de base et généraux                        */
/* -------------------------------------------------------------------------- */
/* ---------------------------- Import des fonts ---------------------------- */
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
  font-display: swap;
}
/* --------------------------- Variables et mixins -------------------------- */
/* ---------------------------- Réglages généraux --------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100dvw;
  min-height: 100dvh;
  background: #21201e;
  overflow-x: hidden;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
ul li {
  list-style: none;
  height: 100%;
  padding: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

a,
a:visited {
  color: #000000;
  text-decoration: none;
}

.img-container {
  height: 100%;
}

p {
  padding: 0 15px;
}

/* ------------------------- Réglages de la page web ------------------------ */
.cursive {
  font-family: "Allura", cursive;
  text-transform: none;
  color: #a67245;
  font-weight: 300;
  letter-spacing: normal;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #eeeeee;
  line-height: 40px;
  font-size: clamp(2rem, 2rem + (1vw - 0.2rem) * 2.7273, 3.5rem);
  min-height: 0vw;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 1rem;
  font-size: clamp(1.5rem, 1.5rem + (1vw - 0.41875rem) * 1.5094, 2rem);
  min-height: 0vw;
}
@media screen and (max-width: 670px) {
  h2 {
    font-size: clamp(1.5rem, 1.5rem + (1vw - 0.2rem) * 2.2857, 2rem);
  }
}

p,
a {
  font-size: clamp(0.7rem, 0.7rem + (1vw - 0.2rem) * 0.5455, 1rem);
  min-height: 0vw;
}

.icon {
  margin: 20px 0;
}

header {
  /* --------------------------------- SECTION -------------------------------- */
  width: 100%;
  height: 100dvh;
  position: relative;
  /* ------------------------------- BACKGROUND ------------------------------- */
  background: url(../img/header-background-large.webp) center/cover;
  /* -------------------------------- CONTAINER ------------------------------- */
}
@media screen and (max-width: 960px) {
  header {
    background: url(../img/header-background-medium.webp) center/cover;
  }
}
@media screen and (max-width: 480px) {
  header {
    background: url(../img/header-background-small.webp) center/cover;
  }
}
header .header-container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
header .header-container .title-container {
  width: 95%;
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header .header-container .title-container .subtitle {
  text-transform: uppercase;
  color: #eeeeee;
  letter-spacing: 3px;
}

#logo {
  font-family: "Allura", cursive;
  color: #eeeeee;
  font-size: 2.5rem;
}

#logo {
  font-size: clamp(2rem, 2rem + (1vw - 0.2rem) * 0.9091, 2.5rem);
  min-height: 0vw;
}

nav {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* --------------------------------- NAVBAR --------------------------------- */
}
nav .navbar {
  width: 70%;
}
nav .navbar li a {
  font-family: "Poppins", sans-serif;
  color: #eeeeee;
  text-transform: uppercase;
  font-size: clamp(11.2px, 0.7rem + (1vw - 7.7px) * 0.7442, 14.4px);
  min-height: 0vw;
}
@media screen and (max-width: 770px) {
  nav .navbar {
    display: none;
  }
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.networks li a svg {
  fill: #eeeeee;
}

section#shop {
  background: #eeeeee;
  display: grid;
  grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* ----------------------------- Text container ----------------------------- */
  /* ----------------------------- Image container ---------------------------- */
}
@media screen and (max-width: 670px) {
  section#shop {
    display: block;
  }
}
section#shop .left-part {
  padding: 15px;
}
section#shop .left-part .text-container {
  border: 1px dotted #a67245;
  padding: 20px 0;
}
section#shop .img-container {
  background: url(../img/section1-image.webp) center/cover;
}
@media screen and (max-width: 670px) {
  section#shop .img-container {
    display: none;
  }
}

.avatar {
  margin-top: 20px;
  border-radius: 50%;
}

.avatar-name {
  font-weight: bold;
}

.titre {
  font-weight: normal;
  text-transform: uppercase;
  color: #a9a69e;
}

section#menu ul {
  width: 60%;
  margin: 10px auto;
}
@media screen and (max-width: 800px) {
  section#menu ul {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  section#menu ul {
    width: 100%;
  }
}
section#menu .top-part {
  padding: 40px;
}
@media screen and (max-width: 425px) {
  section#menu .top-part {
    padding: 40px 10px;
  }
}
section#menu .top-part ul li a {
  color: #eeeeee;
  position: relative;
}
section#menu .top-part ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #a9a69e;
  left: 0;
  bottom: -8px;
}
section#menu .bottom-part {
  background: url(../img/section2-background-large.webp) center/cover;
}
@media screen and (max-width: 960px) {
  section#menu .bottom-part {
    background: url(../img/section2-background-medium.webp) center/cover;
  }
}
@media screen and (max-width: 480px) {
  section#menu .bottom-part {
    background: url(../img/section2-background-small.webp) center/cover;
  }
}
section#menu .bottom-part ul {
  background: #eeeeee;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}
section#menu .bottom-part ul li {
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #a9a69e;
}
section#menu .bottom-part ul li:hover {
  -webkit-transform: none;
          transform: none;
}
section#menu .bottom-part ul li img {
  border-radius: 50%;
}
section#menu .bottom-part ul li p {
  padding: 0 5px;
}
section#menu .bottom-part ul li .description {
  text-align: left;
}
section#menu .bottom-part ul li .description .plat {
  font-size: clamp(0.6rem, 0.6rem + (1vw - 0.5rem) * 1.2, 0.9rem);
  min-height: 0vw;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
section#menu .bottom-part ul li .description .ingredients {
  font-size: clamp(0.7rem, 0.7rem + (1vw - 0.5rem) * 1.2, 1rem);
  min-height: 0vw;
  color: #a9a69e;
}
section#menu .bottom-part ul li .price {
  font-family: "Poppins", sans-serif;
  color: #a67245;
}/*# sourceMappingURL=index.css.map */